/Verkkokauppa1/Verkkokauppa1/.nb-gradle/
/Verkkokauppa1/Verkkokauppa1/NhlStatistics1/.nb-gradle/
/Verkkokauppa1/Verkkokauppa1/NhlStatistics1/build/
/Verkkokauppa1/Verkkokauppa1/RiippuvuuksienInjektointi1/.nb-gradle/
/Verkkokauppa1/Verkkokauppa1/RiippuvuuksienInjektointi1/build/
/Verkkokauppa1/Verkkokauppa1/RiippuvuuksienInjektointi2/.nb-gradle/
/Verkkokauppa1/Verkkokauppa1/RiippuvuuksienInjektointi3/.nb-gradle/
/src/NhlStatistics1/.nb-gradle/
/src/NhlStatistics1/build/
/src/RiippuvuuksienInjektointi1/.nb-gradle/
/src/RiippuvuuksienInjektointi1/build/
/src/RiippuvuuksienInjektointi2/.nb-gradle/
/src/RiippuvuuksienInjektointi3/.nb-gradle/
/Verkkokauppa1/src/.nb-gradle/
/Verkkokauppa1/src/NhlStatistics1/.nb-gradle/
/Verkkokauppa1/src/NhlStatistics1/build/
/Verkkokauppa1/src/RiippuvuuksienInjektointi1/.nb-gradle/
/Verkkokauppa1/src/RiippuvuuksienInjektointi1/build/
/Verkkokauppa1/src/RiippuvuuksienInjektointi2/.nb-gradle/
/Verkkokauppa1/src/RiippuvuuksienInjektointi3/.nb-gradle/
/Verkkokauppa1/.nb-gradle/